body {

}

.top-images {
    height: auto;
    width: auto;
    display: inline;
}

#top-buffer {
    height: 20px;
}

.text {
    text-align: center;
    font-family: 'Playfair Display', serif;
}

#mid-buffer {
    height: 20px;
}

#bottom-buffer {
    height: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex;
    }

#h4-countryfacts    {
    text-align: left;
    padding-bottom: 10px;
    }
    
.d-block    {
    max-height: 250px;
}

#carousel-facts {
    padding-top: 30px;
    max-width: 1000px;
    position: relative;
    margin: auto;
}

#facts  {
    padding-left: 50px;
}

li  {
    padding-bottom: 3px;
}