body {

}

#top-buffer {
    height: 50px;
}

.text {
    text-align: center;
    font-family: 'Playfair Display', serif;
}

#mid-buffer {
    height: 20px;
}

#bottom-buffer {
    height: 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex;
    }

#flag-img {
    max-width: 95%;
    height: 400px;
    align-self: center;
}

#capital-img {
    max-width: 95%;
    height: 400px;
    align-self: center;
}

#country-img {
    max-width: 95%;
    height: 400px;
    align-self: center;
}



